/* 
* Version: 1.6
* Blue Color 		: #FF7784; 
* Blue Hover Color  : #ff7784; 
* Additional color  : deeffc;
* rgba(52, 152, 219, 1);
* Original Blue: #3498db;
* Original Hover: #FF7784;
*/

a {
    color: #222222;
}
a:focus,
a:hover,
a:active {
    color: #ff7784;
}
.color-green {
    color: #FF7784;
}
a.read-more:hover {
    color: #FF7784;
}
.linked:hover {
    color: #FF7784;
}
.funny-boxes-top-sea {
    border-top: solid 2px #FF7784;
}
.funny-boxes-top-sea:hover {
    border-top-color: #FF7784;
}
/*Headers Default
 ------------------------------------*/

.header .navbar-default .navbar-nav > .active > a {
    color: #FF7784;
}
.header .navbar-default .navbar-nav > .active > a {
    border-color: #FF7784;
}
.header .dropdown-menu {
    border-top: solid 2px #FF7784;
}
.header .navbar-default .navbar-nav > li:hover > a {
    color: #ff7784;
    border-bottom-color: #ff7784;
}
.header .navbar .nav > li > .search:hover {
    border-bottom-color: #ff7784;
    color: #ff7784;
}
.header .navbar-default .navbar-toggle {
    border-color: #ff7784;
}
.header .navbar-toggle,
.header .navbar-default .navbar-toggle:hover,
.header .navbar-default .navbar-toggle:focus {
    background: #FF7784;
}
.header .navbar-toggle:hover {
    background: #ff7784 !important;
}
.header .navbar-default .navbar-nav > .open > a,
.header .navbar-default .navbar-nav > .open > a:hover,
.header .navbar-default .navbar-nav > .open > a:focus {
    color: #FF7784;
}
/*Design for max-width: 991px*/

@media (max-width: 991px) {
    .header .navbar-default .navbar-nav > .active > a, .header .navbar-default .navbar-nav > .active > a:hover, .header .navbar-default .navbar-nav > .active > a:focus {
        background: #FF7784;
        color: #fff !important;
    }
    .header .navbar-default .navbar-nav > .active > a {
        border-color: #eee;
    }
    .header .navbar .nav > li > .search:hover {
        background: #FF7784;
    }
}
/*Headers v1
 ------------------------------------*/

.header-v1 .navbar-default .navbar-nav > .active > a,
.header-v1 .navbar-default .navbar-nav > li > a:hover,
.header-v1 .navbar-default .navbar-nav > li > a:focus {
    color: #FF7784;
}
.header-v1 .dropdown-menu {
    border-color: #FF7784
}
.header-v1 .navbar-default .navbar-nav > li:hover > a {
    color: #FF7784;
}
.header-v1 .navbar .nav > li > .search:hover {
    color: #FF7784;
}
.header-v1 .navbar .nav > li > .search:hover {
    color: #FF7784;
}
.header-v1 .navbar-default .navbar-toggle {
    border-color: #ff7784;
}
.header-v1 .navbar-toggle,
.header-v1 .navbar-default .navbar-toggle:hover,
.header-v1 .navbar-default .navbar-toggle:focus {
    background: #FF7784;
}
.header-v1 .navbar-toggle:hover {
    background: #ff7784 !important;
}
/*Design for max-width: 991px*/

@media (max-width: 991px) {
    .header-v1 .navbar-default .navbar-nav > li:hover > a {
        border-color: #eee;
    }
    .header-v1 .navbar-default .navbar-nav > .active > a,
    .header-v1 .navbar-default .navbar-nav > .active > a:hover,
    .header-v1 .navbar-default .navbar-nav > .active > a:focus {
        background-color: #FF7784;
    }
    .header-v1 .navbar-default .navbar-nav > .active > a {
        border-color: #eee;
    }
    .header-v1 .navbar .nav > li > .search:hover {
        background-color: #FF7784;
    }
}
/*Headers v2
 ------------------------------------*/

.header-v2 .dropdown-menu {
    border-color: #FF7784;
}
.header-v2 .navbar-default .navbar-toggle {
    border-color: #ff7784;
}
.header-v2 .navbar-toggle,
.header-v2 .navbar-default .navbar-toggle:hover,
.header-v2 .navbar-default .navbar-toggle:focus {
    background: #FF7784;
}
.header-v2 .navbar-toggle:hover {
    background: #ff7784 !important;
}
/*Design for max-width: 991px*/

@media (max-width: 991px) {
    .header-v2 .navbar-default .navbar-nav > .active > a, .header-v2 .navbar-default .navbar-nav > .active > a:hover, .header-v2 .navbar-default .navbar-nav > .active > a:focus {
        background: #FF7784;
        color: #fff !important;
    }
    .header-v2 .navbar-default .navbar-nav > li > a:hover {
        color: #FF7784;
    }
}
/*Headers v3
 ------------------------------------*/

.header-v3 .navbar-default .navbar-nav > .active > a {
    color: #FF7784;
}
.header-v3 .navbar-default .navbar-nav > li:hover > a {
    color: #ff7784;
}
.header-v3 .dropdown-menu {
    border-color: #FF7784;
}
.header-v3 .navbar-default .navbar-toggle {
    border-color: #ff7784;
}
.header-v3 .navbar-toggle,
.header-v3 .navbar-default .navbar-toggle:hover,
.header-v3 .navbar-default .navbar-toggle:focus {
    background: #FF7784;
}
.header-v3 .navbar-toggle:hover {
    background: #ff7784 !important;
}
.header-v3 .navbar .nav > li > .search:hover {
    background: inherit;
    color: #FF7784;
}
/*Design for max-width: 991px*/

@media (max-width: 991px) {
    .header-v3 .navbar-default .navbar-nav > .active > a, .header-v3 .navbar-default .navbar-nav > .active > a:hover, .header-v3 .navbar-default .navbar-nav > .active > a:focus {
        background: #FF7784;
        color: #fff !important;
    }
    .header-v3 .navbar-default .navbar-nav > .active > a {
        border-color: #eee;
    }
    .header-v3 .navbar .nav > li > .search:hover {
        background: #FF7784;
    }
}
/*Headers v4
 ------------------------------------*/

.header-v4 .navbar-default .navbar-nav > li > a:hover,
.header-v4 .navbar-default .navbar-nav > .active > a {
    border-color: #FF7784;
}
.header-v4 .navbar-default .navbar-nav > .active > a {
    color: #FF7784;
}
.header-v4 .navbar-default .navbar-nav > li:hover > a {
    border-color: #FF7784;
    color: #ff7784;
}
.header-v4 .navbar .nav > li > .search:hover {
    color: #FF7784;
}
.header-v4 .navbar-default .navbar-nav > .open > a,
.header-v4 .navbar-default .navbar-nav > .open > a:hover,
.header-v4 .navbar-default .navbar-nav > .open > a:focus {
    color: #FF7784;
}
/*Design for max-width: 991px*/

@media (max-width: 991px) {
    .header-v4 .navbar-default .navbar-nav > li:hover > a {
        border-color: #eee;
    }
    .header-v4 .navbar-default .navbar-nav > .active > a,
    .header-v4 .navbar-default .navbar-nav > .active > a:hover,
    .header-v4 .navbar-default .navbar-nav > .active > a:focus {
        color: #FF7784 !important;
    }
    .header-v4 .navbar-default .navbar-nav > .active > a {
        border-color: #eee;
    }
    .header-v4 .navbar .nav > li > .search:hover {
        background: #FF7784;
    }
}
/*Headers v5
 ------------------------------------*/

.header-v5 .navbar-default .navbar-nav > li > a:hover,
.header-v5 .navbar-default .navbar-nav > .active > a {
    border-top: 2px solid #FF7784;
}
.header-v5 .navbar-default .navbar-nav > .active > a {
    color: #FF7784;
}
.header-v5 .navbar-default .navbar-nav > li:hover > a {
    color: #FF7784;
}
.header-v5 .navbar-default .navbar-nav > .open > a,
.header-v5 .navbar-default .navbar-nav > .open > a:hover,
.header-v5 .navbar-default .navbar-nav > .open > a:focus {
    color: #FF7784;
}
.header-v5 .dropdown-menu li > a:hover {
    background: #FF7784;
}
.header-v5 .dropdown-menu .active > a,
.header-v5 .dropdown-menu li > a:hover {
    background: #FF7784;
}
.header-v5 .dropdown-menu {
    border-color: #FF7784;
}
.header-v5 .dropdown-menu li.dropdown-submenu:hover > a {
    background: #FF7784;
}
.header-v5 .dropdown-menu .style-list li > a:hover {
    background: none;
}
.header-v5 .style-list li a:hover {
    color: #FF7784;
}
/* Shopping cart*/

.header-v5 .shop-badge.badge-icons i {
    color: #FF7784;
}
.header-v5 .shop-badge span.badge-sea {
    background: #FF7784;
}
.header-v5 .badge-open {
    border-top: 2px solid #FF7784;
    box-shadow: 0 5px 5px 0 rgba(90, 90, 90, 0.075);
}
/*Sliders
 ------------------------------------*/
/*Main Parallax Sldier*/

.da-slide h2 i {
    background: rgba(52, 152, 219, 0.8);
}
/*Sequence Parallax Sldier*/

.sequence-inner {
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#fff), to(#deeffc));
    background: -webkit-linear-gradient(#fff, #deeffc);
    background: -moz-linear-gradient(#fff, #deeffc);
    background: -ms-linear-gradient(#fff, #deeffc);
    background: -o-linear-gradient(#fff, #deeffc);
    background: linear-gradient(#fff, #deeffc)
}
#sequence-theme h2 {
    background: rgba(52, 152, 219, 0.8);
}
#sequence-theme .info p {
    background: rgba(52, 152, 219, 0.8);
}
/*Buttons
 ------------------------------------*/

.btn-u {
    background: #FF7784;
}
.btn-u:hover,
.btn-u:focus,
.btn-u:active,
.btn-u.active,
.open .dropdown-toggle.btn-u {
    background: #ff7784;
}
/*Buttons Color*/

.btn-u-split.dropdown-toggle {
    border-left: solid 1px #ff7784;
}
/*Bordered Buttons*/

.btn-u.btn-brd {
    border-color: #FF7784;
}
.btn-u.btn-brd:hover {
    color: #ff7784;
    border-color: #ff7784;
}
.btn-u.btn-brd.btn-brd-hover:hover {
    background: #ff7784;
}
/*Service
 ------------------------------------*/

.service .service-icon {
    color: #FF7784;
}
/*Service Blocks*/

.service-alternative .service:hover {
    background: #FF7784;
}
/*Thumbnail (Recent Work)
 ------------------------------------*/

.thumbnail-style h3 a:hover {
    color: #FF7784;
}
.thumbnail-style a.btn-more {
    background: #FF7784;
}
.thumbnail-style a.btn-more:hover {
    box-shadow: 0 0 0 2px #ff7784;
}
/*Carousel (Recent Work)*/

.recent-work a:hover span {
    border-bottom: solid 2px #FF7784;
}
.bx-wrapper .bx-prev {
    background: rgba(52, 152, 219, 0.8);
}
.bx-wrapper .bx-next {
    background: rgba(52, 152, 219, 0.8);
}
/*Typography
 ------------------------------------*/
/*Heading*/

.headline h2,
.headline h3,
.headline h4 {
    border-bottom: 2px solid #FF7784;
}
/*Blockquote*/

blockquote:hover {
    border-left-color: #FF7784;
}
.hero {
    border-left-color: #FF7784;
}
/*Carousel
 ------------------------------------*/

.carousel-arrow a.carousel-control:hover {
    color: #FF7784;
}
/*Footer
 ------------------------------------*/

.footer a,
.copyright a,
.footer a:hover,
.copyright a:hover {
    color: #FF7784;
}
/*Footer Blog*/

.footer .dl-horizontal a:hover {
    color: #FF7784 !important;
}
/*Blog Posts
 ------------------------------------*/

.posts .dl-horizontal a:hover {
    color: #FF7784;
}
.posts .dl-horizontal:hover dt img,
.posts .dl-horizontal:hover dd a {
    color: #FF7784;
    border-color: #FF7784 !important;
}
/*Post Comment*/

.post-comment h3,
.blog-item .media h3,
.blog-item .media h4.media-heading span a {
    color: #FF7784;
}
/*Tabs
 ------------------------------------*/
/*Tabs v1*/

.tab-v1 .nav-tabs {
    border-bottom: solid 2px #FF7784;
}
.tab-v1 .nav-tabs > .active > a,
.tab-v1 .nav-tabs > .active > a:hover,
.tab-v1 .nav-tabs > .active > a:focus {
    background: #FF7784;
}
.tab-v1 .nav-tabs > li > a:hover {
    background: #FF7784;
}
/*Tabs v2*/

.tab-v2 .nav-tabs li.active a {
    border-top: solid 2px #FF7784;
}
/*Tabs v3*/

.tab-v3 .nav-pills li a:hover,
.tab-v3 .nav-pills li.active a {
    background: #FF7784;
    border: solid 1px #ff7784;
}
/*Accardion
 ------------------------------------*/

.acc-home a.active,
.acc-home a.accordion-toggle:hover {
    color: #FF7784;
}
.acc-home .collapse.in {
    border-bottom: solid 1px #FF7784;
}
/*Testimonials
 ------------------------------------*/

.testimonials .testimonial-info {
    color: #FF7784;
}
.testimonials .carousel-arrow i:hover {
    background: #FF7784;
}
/*Info Blocks
 ------------------------------------*/

.info-blocks:hover i.icon-info-blocks {
    color: #FF7784;
}
/*Breadcrumb
 ------------------------------------*/

.breadcrumb li.active,
.breadcrumb li a:hover {
    color: #FF7784;
}
/*About Page
 ------------------------------------*/

.team .thumbnail-style:hover h3 a {
    color: #FF7784 !important;
}
/*Social Icons*/

.team ul.team-socail li i:hover {
    background: #FF7784;
}
/*Right Sidebar
 ------------------------------------*/
/*Right Sidebar*/

.who li i,
.who li:hover i,
.who li:hover a {
    color: #FF7784;
}
/*Privacy Page
 ------------------------------------*/

.privacy a:hover {
    color: #FF7784;
}
/*Portfolio Page
 ------------------------------------*/
/*Portfolio v1*/

.view a.info:hover {
    background: #FF7784;
}
/*Portfolio v2*/

.sorting-block .sorting-nav li.active {
    color: #FF7784;
    border-bottom: solid 1px #FF7784;
}
.sorting-block .sorting-grid li a:hover span.sorting-cover {
    background: #FF7784;
}
/*Blog Page
 ------------------------------------*/

.blog h3 {
    color: #FF7784;
}
.blog li a:hover {
    color: #FF7784;
}
/*Blog Tags*/

ul.blog-tags a:hover {
    background: #FF7784;
}
.blog-post-tags ul.blog-tags a:hover {
    background: #FF7784;
}
/*Blog Photos*/

.blog-photos li img:hover {
    box-shadow: 0 0 0 2px #FF7784;
}
/*Blog Latest Tweets*/

.blog-twitter .blog-twitter-inner:hover {
    border-color: #FF7784;
    border-top-color: #FF7784;
}
.blog-twitter .blog-twitter-inner:hover:after {
    border-top-color: #FF7784;
}
.blog-twitter .blog-twitter-inner a {
    color: #FF7784;
}
/*Blog Item Page
 ------------------------------------*/

.blog-item h4.media-heading span a {
    color: #FF7784;
}
/*Coming Soon Page
 ------------------------------------*/

.coming-soon-border {
    border-top: solid 3px #FF7784;
}
/*Search Page
 ------------------------------------*/

.booking-blocks p a {
    color: #FF7784;
}
/*Icons Page
 ------------------------------------*/

.icon-page li:hover {
    color: #FF7784;
}
/*Glyphicons*/

.glyphicons-demo a:hover {
    color: #FF7784;
    text-decoration: none;
}
/*Magazine Page
 ------------------------------------*/
/*Magazine News*/

.magazine-news .by-author strong {
    color: #FF7784;
}
.magazine-news a.read-more {
    color: #FF7784;
}
/*Magazine Mini News*/

.magazine-mini-news .post-author strong {
    color: #FF7784;
}
.news-read-more i {
    background: #FF7784;
}
/*Sidebar Features*/

.magazine-page h3 a:hover {
    color: #FF7784;
}
/*Page Features
 ------------------------------------*/
/*Tag Boxes v1*/

.tag-box-v1 {
    border-top: solid 2px #FF7784;
}
/*Tag Boxes v2*/

.tag-box-v2 {
    border-left: solid 2px #FF7784;
}
/*Tag Boxes v7*/

.tag-box-v7 {
    border-bottom: solid 2px #FF7784;
}
/*Font Awesome Icon Page Style*/

.fa-icons li:hover {
    color: #FF7784;
}
.fa-icons li:hover i {
    background: #FF7784;
}
/*GLYPHICONS Icons Page Style*/

.bs-glyphicons li:hover {
    color: #FF7784;
}
/*Navigation
 ------------------------------------*/
/*Pagination*/

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    background-color: #FF7784;
    border-color: #FF7784;
}
.pagination li a:hover {
    background: #ff7784;
    border-color: #ff7784;
}
/*Pager*/

.pager li > a:hover,
.pager li > a:focus {
    background: #ff7784;
    border-color: #ff7784;
}
/*Registration and Login Page v2
 ------------------------------------*/

.reg-block {
    border-top: solid 2px #FF7784;
}
/*Image Hover
 ------------------------------------*/
/*Image-hover*/

#effect-2 figure .img-hover {
    background: #FF7784;
}
/*Blog Large Page
 ------------------------------------*/

.blog h2 a:hover {
    color: #FF7784;
}
/*Timeline v1 Page
 ------------------------------------*/

.timeline-v1 > li > .timeline-badge i:hover {
    color: #FF7784;
}
.timeline-v1 .timeline-footer .likes:hover i {
    color: #FF7784;
}
/*Timeline v2 Page
 ------------------------------------*/
/* The icons */

.timeline-v2 > li .cbp_tmicon {
    background: #FF7784;
}
/*Progress Bar
 ------------------------------------*/

.progress-bar-u {
    background: #FF7784;
}
/*Job Inner Page
 ------------------------------------*/

.job-description .save-job a:hover,
.block-description .save-job a:hover {
    color: #FF7784;
}
.job-description .p-chart .overflow-h li i,
.job-description .p-chart .overflow-h li a,
.block-description .p-chart .overflow-h li i,
.block-description .p-chart .overflow-h li a {
    color: #FF7784;
}
/*Colorful-ul*/

.job-description .colorful-ul li a {
    color: #FF7784;
}
/*Search Inner Page
 ------------------------------------*/

.s-results .related-search a:hover {
    color: #FF7784;
}
.s-results .inner-results h3 a:hover {
    color: #FF7784;
}
.s-results .up-ul li a:hover {
    color: #FF7784;
}
.s-results .down-ul li a {
    color: #FF7784;
}
/*Funny Boxes
 ------------------------------------*/

.funny-boxes p a {
    color: #FF7784;
}
.funny-boxes .funny-boxes-img li i {
    color: #FF7784;
}
/*Sidebar Sub Navigation
 ------------------------------------*/

.sidebar-nav-v1 ul li:hover a,
.sidebar-nav-v1 ul li.active a {
    color: #FF7784;
}
/*Blockquote
 ------------------------------------*/

blockquote.bq-green {
    border-color: #FF7784;
}
blockquote:hover,
blockquote.text-right:hover {
    border-color: #FF7784;
}
/*Green Left Bordered Funny Box**/

.funny-boxes-left-green {
    border-left: solid 2px #FF7784;
}
.funny-boxes-left-green:hover {
    border-left-color: #FF7784;
}
/*Testimonials Default
 ------------------------------------*/
/*Testimonials*/

.testimonials .carousel-arrow i:hover {
    background: #FF7784;
}
/*Testimonials Default*/

.testimonials-bg-default .item p {
    background: #FF7784;
}
.testimonials.testimonials-bg-default .item p:after,
.testimonials.testimonials-bg-default .item p:after {
    border-top-color: #FF7784;
}
.testimonials-bg-default .carousel-arrow i {
    background: #FF7784;
}
.testimonials.testimonials-bg-default .carousel-arrow i:hover {
    background: #ff7784;
}
/*Promo Page
 ------------------------------------*/
/*Promo Box*/

.promo-box:hover strong,
.promo-box:hover strong a {
    color: #FF7784;
}
/*Typography
 ------------------------------------*/

.dropcap {
    color: #FF7784;
}
.dropcap-bg {
    color: #fff;
    background: #FF7784;
}
/*Breadcrumbs
 ------------------------------------*/

span.label-u,
span.badge-u {
    background: #FF7784;
}
/*Icons
 ------------------------------------*/
/*Icon Link*/

.link-icon:hover i {
    color: #FF7784;
    border: solid 1px #FF7784;
}
.link-bg-icon:hover i {
    color: #FF7784;
    background: #FF7784 !important;
    border-color: #FF7784;
}
/*Icons Backgroun Color
 ------------------------------------*/

i.icon-color-u {
    color: #FF7784;
    border: solid 1px #FF7784;
}
i.icon-bg-u {
    background: #FF7784;
}
/*Line Icon Page
 ------------------------------------*/

.line-icon-page .item:hover {
    color: #FF7784;
}
/*Colored Content Boxes
 ------------------------------------*/

.service-block-u {
    background: #FF7784;
}
/*Panels (Portlets)
 ------------------------------------*/

.panel-u {
    border-color: #FF7784;
}
.panel-u > .panel-heading {
    background: #FF7784;
}
/*Owl Carousel
 ------------------------------------*/

.owl-btn:hover {
    background: #FF7784;
}
/*Counter
 ------------------------------------*/

.counters span.counter-icon i {
    background: #FF7784;
}
.counters span.counter-icon i:after {
    border-top: 7px solid #FF7784;
}
/*SKy-Forms
 ------------------------------------*/
/*Buttons*/

.sky-form .button {
    background: #FF7784;
}
/*Rating*/

.sky-form .rating input:checked ~ label {
    color: #FF7784;
}
/*Message*/

.sky-form .message {
    color: #FF7784;
}
.sky-form .message i {
    border-color: #FF7784;
}
/*Profile
 ------------------------------------*/

.profile .profile-post:hover span.profile-post-numb {
    color: #FF7784;
}
.profile .date-formats {
    background: #FF7784;
}
.profile .name-location span i,
.profile .name-location span a:hover {
    color: #FF7784;
}
.share-list li i {
    color: #FF7784;
}
.profile .comment-list-v2 li:hover i,
.profile .comment-list li:hover i {
    color: #FF7784;
}
.profile .profile-post.color-one {
    border-color: #FF7784;
}
/*Pricing Page
 ------------------------------------*/
/*Pricing Head*/

.pricing:hover h4 {
    color: #FF7784;
}
.pricing-head h3 {
    background: #FF7784;
    text-shadow: 0 1px 0 #ff7784;
}
.pricing-head h4 {
    color: #999;
    background: #fcfcfc;
    border-bottom: solid 1px #deeffc;
}
/*Pricing Content*/

.pricing-content li {
    border-bottom: solid 1px #deeffc;
}
.pricing-content li i {
    color: #FF7784;
}
/*Pricing Extra*/

.sticker-left {
    background: #FF7784;
}
/*Pricing Footer*/

.pricing-footer a:hover,
.pricing-footer button:hover {
    background: #ff7784;
}
/*Pricing Active*/

.price-active h4 {
    color: #FF7784;
}
.no-space-pricing .price-active .pricing-head h4,
.no-space-pricing .pricing:hover .pricing-head h4 {
    color: #FF7784;
}
/*Mega Pricing Tables 
 ------------------------------------*/

.pricing-mega-v1 .pricing-head h3,
.pricing-mega-v2 .pricing-head h3,
.pricing-mega-v3 .pricing-head h3 {
    text-shadow: 0 1px 0 #ff7784;
}
/*Pricing Table Mega v1 Version
 ------------------------------------*/

.pricing-mega-v1 .pricing:hover h4 i {
    color: #FF7784;
}
.pricing-mega-v1 .pricing-content li i {
    color: #FF7784;
}
/*Pricing Table Colored Background Version
 ------------------------------------*/

.pricing-bg-colored .pricing:hover {
    background: #FF7784;
}
.pricing-bg-colored .pricing-head i {
    color: #FF7784;
}
.pricing-bg-colored .pricing-footer .btn-u {
    border: 1px solid #fff;
}
.pricing-bg-colored .pricing-head p {
    border-bottom: 1px solid #deeffc;
}
/*Pricing Table Mega v2 
 ------------------------------------*/

.pricing-mega-v2 .block:hover .bg-color {
    background: #FF7784;
}
.pricing-mega-v2 .block:hover h3,
.pricing-mega-v2 .block:hover h4,
.pricing-mega-v2 .block:hover li,
.pricing-mega-v2 .block:hover li i,
.pricing-mega-v2 .block:hover h4 i {
    background: #FF7784;
}
/*Pricing Table Mega v3 
 ------------------------------------*/

.pricing-mega-v1 .btn-group .dropdown-menu,
.pricing-mega-v3 .btn-group .dropdown-menu {
    background: #FF7784 !important;
}
.pricing-mega-v1 .btn-group .dropdown-menu li a:hover,
.pricing-mega-v3 .btn-group .dropdown-menu li a:hover {
    background: #ff7784;
}
/*Grid Block v2 
 ------------------------------------*/

.grid-block-v2 li:hover .grid-block-v2-info {
    border-color: #FF7784;
}
/*Testimonials v3 Title 
 ------------------------------------*/

.testimonials-v3 .testimonials-v3-title p {
    color: #FF7784;
}
.testimonials-v3 .owl-buttons .owl-prev:hover,
.testimonials-v3 .owl-buttons .owl-next:hover {
    background: #FF7784;
}
/*Content Boxes v4 
 ------------------------------------*/

.content-boxes-v4 i {
    color: #FF7784;
}
/*Thumbnails v1 
 ------------------------------------*/

.thumbnails-v1 .read-more {
    color: #FF7784;
}
/*Team v1 
 ------------------------------------*/

.team-v1 li:hover > p:before {
    background: #FF7784;
}
/*Headliner Center
 ------------------------------------*/

.headline-center h2:after {
    background: #FF7784;
}
/*Headliner Left
 ------------------------------------*/

.headline-left .headline-brd:after {
    background: #FF7784;
}
/*Portfolio Box
 ------------------------------------*/

.portfolio-box .portfolio-box-in i {
    background: #FF7784;
}
/*Flat Background Block v1
 ------------------------------------*/

.flat-bg-block-v1 .checked-list i {
    color: #FF7784;
}
/* Owl Carousel v5
 ------------------------------------*/

.owl-carousel-v5 .owl-controls .owl-page.active span,
.owl-carousel-v5 .owl-controls.clickable .owl-page:hover span {
    background: #FF7784;
}
/* Content Boxes v5
 ------------------------------------*/

.content-boxes-v5:hover i {
    background: #FF7784;
}
/* Block Grid v1
 ------------------------------------*/

.block-grid-v1:hover {
    border-color: #FF7784;
}
/* Content Boxes v6
 ------------------------------------*/

.content-boxes-v6:hover i:after {
    border-color: #FF7784;
}
.content-boxes-v6:hover i {
    background: #FF7784;
}
/* Portfolio Box-v2
 ------------------------------------*/

.portfolio-box-v2 .portfolio-box-v2-in i {
    background: rgba(52, 152, 219, 0.8);
}
.portfolio-box-v2 .portfolio-box-v2-in i:hover {
    background: #FF7784;
}
/* Service Block v1
 ------------------------------------*/

.service-block-v1 i {
    background: #FF7784;
}
/* Testimonials bs
 ------------------------------------*/

.testimonials-bs .carousel-control-v2 i:hover {
    border-color: #FF7784;
    color: #FF7784;
}
/* Fusion Portfolio
 ------------------------------------*/

.fusion-portfolio #filters-container .cbp-filter-item-active {
    background: #FF7784;
    border-color: #FF7784;
}
.fusion-portfolio #filters-container .cbp-filter-item:hover {
    color: #FF7784;
}
/* Fusion Portfolio
 ------------------------------------*/

.blog_masonry_3col h3 a:hover {
    color: #FF7784;
}
/* Recent Works
 ------------------------------------*/

.owl-work-v1 .item a:hover span {
    border-bottom-color: #FF7784;
}
/* Footer Default
 ------------------------------------*/

.footer-default .footer .dl-horizontal a:hover {
    color: #FF7784 !important;
}
.footer-default .footer a {
    color: #FF7784;
}
.footer-default .footer a:hover {
    color: #ff7784;
}
.footer-default .copyright a {
    color: #FF7784;
}
.footer-default .copyright a:hover {
    color: #ff7784;
}
/* Footer v4
 ------------------------------------*/

.footer-v4 .copyright a {
    color: #FF7784;
}
/* Title v1
 ------------------------------------*/

.title-v1 h1:after,
.title-v1 h2:after {
    background-color: #FF7784;
}
/* Copyright Section
 ------------------------------------*/

.copyright-section i.back-to-top:hover {
    color: #FF7784;
}
/* Top Control
 ------------------------------------*/

#topcontrol:hover {
    background-color: #FF7784;
}