a {
    transition: all .3s ease;
}

body,
input,
button,
select,
textarea,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.purchase span {
    font-family: "Helvetica Neue", "Noto Sans CJK KR", sans-serif !important;
}

::selection {
    background: #ff7784;
    color: #fff;
}

h1,
.loginbar {
    font-family: "Gotham", "Helvetica Neue", "Noto Sans CJK KR", sans-serif !important;
    font-weight: 500;
}

h2,
h3,
h4 {
    font-family: "Gotham", "Helvetica Neue", "Noto Sans CJK KR", sans-serif !important;
    font-weight: 300;
}

ul.loginbar li:nth-child(1) a.username:hover {
    color: white;
}

.label {
    display: inline-block;
    border-radius: 4px !important;
    line-height: 1.2;
    padding: 2px 2px;
}

.label-light-green,
.label-purple {
    display: none;
}

.pagination li {
    display: inline-block !important;
    width: 6ch !important;
}

.pagination li a {
    width: 100%;
    text-align: center;
    padding: 5px 0 !important;
}

.memory span,
.time span {
    font-size: 0.7em;
    font-weight: bold;
}

.problem_title:before {
    content: "#";
    opacity: 0.4;
}

.achievement-count {
    position: relative;
    display: inline-block;
    font-size: .8em;
    height: 32px;
    line-height: 24px;
    min-width: 64px;
    border-radius: 4px !important;
    padding: 4px;
    padding-left: 32px;
    text-align: center;
}

.achievement-count img {
    position: absolute;
    height: 16px;
    width: 16px;
    top: 8px;
    left: 8px;
}

.achievement-count.bronze {
    border: 1px solid #b56d3c;
    background-color: #f5ebe4;
}

.achievement-count.silver {
    border: 1px solid #a0a5a8;
    background-color: #f0f0f0;
}

.achievement-count.gold {
    border: 1px solid #f9d70d;
    background-color: #fdf9e4;
}